<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andres.it.dizionario.storico" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_history"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="andres.it.historyDictionary.Activities.SplashActivity"
            android:label="@string/title_activity_splash_activiy"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="andres.it.historyDictionary.Activities.DescriptionActivity"
            android:label="@string/title_activity_description"
            android:screenOrientation="portrait" />
        <activity
            android:name="andres.it.historyDictionary.Activities.addTermActivity"
            android:label="@string/title_activity_add_term"
            android:screenOrientation="portrait" />
        <activity
            android:name="andres.it.historyDictionary.Activities.TermActivity"
            android:label="@string/title_activity_term"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="andres.it.historyDictionary.Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="andres.it.historyDictionary.Activities.CopyrightActivity"
            android:label="@string/title_activity_copyright"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
